<header>
    <div class="container">
      <div class="header-left">
        <a href="/"><img class="logo" src="/images/logo124_53.png"></a>
      </div>
      <i id="signup-show" class="fa-solid fa-bars menu-icon"></i>
      <div class="header-right">
        <a href="/#activity">活動内容</a>
        <a href="/#invitation">募集要項</a>
        <a href="/members">メンバー・職員紹介</a>
        <a href="/recent">活動履歴</a>
        <a href="/#form">お問い合わせ</a>
      </div>
    </div>
</header>

<!-- モーダル部分 -->
<div class="signup-modal-wrapper" id="signup-modal">
    <div class="modal">
      <div>
        <i class="fa fa-2x fa-times" id="close-modal"></i>
      </div>
      <ul id="signup-form">
        <li><a class="modal-item" href="/#activity">活動内容</a></li>
        <li><a class="modal-item" href="/#invitation">募集要項</a></li>
        <li><a class="modal-item" href="/members">メンバー・職員紹介</a></li>
        <li><a class="modal-item" href="/recent">活動履歴</a></li>
        <li><a class="modal-item" href="/#form">お問い合わせ</a></li>
      </ul>
    </div>
</div>
  <!-- モーダルここまで -->