<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>東工大生協サポートセンター</title>
    <script src="https://kit.fontawesome.com/b2808959cc.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/stylesheet_home.css">
    <link rel="stylesheet" href="/css/responsive.css">
  </head>
  <body>
    <%- include('header'); %>
    <div class="top-wrapper">
      <div class="container">
        <h1>生協サポートセンター</h1>
        <p>私たちは、「新入生をサポートする」、サポートスタッフです。</p>
        <p>大学生協と連携してより新入生が安心して大学生活を送れるようにサポートします。</p>
        <div class="btn-wrapper">
          <a href="https://www.youtube.com/channel/UCaDdhFlYxvreibVHNxcMFew" class="btn youtube"><span class="fa-brands fa-youtube"></sp>公式YouTubeを見る</a>
          <a href="https://twitter.com/titechcoopSTART" class="btn twitter"><span class="fa-brands fa-twitter"></span>Twitterを見る</a>
        </div>
      </div>
    </div>
    <div class="first-wrapper">
      <div id="activity" class="container">
        <div class="heading">
          <h2>活動内容</h2>
        </div>
        <p>週1回程度のミーティングを行います。10月の工大祭(大学の文化祭)の企画と2、3月の新入生説明会の運営が活動のビッグイベントとなります。その他、YouTubeを用いた動画配信や東工大生の実態調査アンケートなど、バラエティに富んだ活動を行っています!</p>
        <div class = "clear"></div>
      </div>
    </div>
    <div class="second-wrapper">
      <div id="invitation" class="container">
        <div class="heading">
          <h2>募集要項</h2>
        </div>
        <p>イベントの企画力、動画配信をする技術力、生協を知ることによる知識などが身につきます！時給も頂ける良い活動となっています！生協に関わってみたい方や新入生をサポートしたい方はぜひお気軽にお問い合わせください！</p>
      </div>
    </div>
    <div class="first-wrapper">
      <div id="form" class="container">
        <div class="heading">
          <h2>お問い合わせ</h2>
        </div>
        <p>ご意見・ご質問がある方はお気軽にお問い合わせください！</p>
        <a href="https://forms.gle/4HTSTAHdBkMmdeJg7"><span class="btn message">お問い合わせはこちらから</span></a>
      </div>
    </div>
    <%- include('footer'); %>
    <script src="script.js"></script>
  </body>
</html>