<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>東工大生協サポートセンター</title>
    <script src="https://kit.fontawesome.com/b2808959cc.js" crossorigin="anonymous"></script>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>  
    <link rel="stylesheet" href="/css/stylesheet_members.css">
    <link rel="stylesheet" href="/css/responsive.css">
  </head>
  <body>
    <%- include('header'); %>
    <div class="first-wrapper">
      <div class="container">
        <div class="heading">
          <h1>メンバー紹介</h1>
        </div>
        <div class="members">
          <div class="member">
            <div class="member-icon">
              <h2 class="heading">矢原馨(やはらかおる)</h2>
              <img class="faceimage" src="https://cdn.pixabay.com/photo/2018/05/29/18/08/swallow-3439543_1280.jpg">
            </div>
            <p class="self-intro">所属: 環境・社会理工学院建築学系都市・環境学コース
              学年: 修士2年
              ひとこと: 朝活はじめました！</p>
          </div>
          <div class="member">
            <div class="member-icon">
                <h2 class="heading">高橋紘哉</h2>
                <img class="faceimage" src="/images/高橋HP.jpg">
              </div>
              <p class="self-intro">所属: 物質理工学院応用化学系
                学年: 学士4年
                ひとこと: 「学生スタッフです。」で貴重な9/140文字消費されるのが悩みのタネ</p>
          </div>
          <div class="member">
            <div class="member-icon">
                <h2 class="heading">小林円</h2>
                <img class="faceimage" src="https://cdn.pixabay.com/photo/2018/05/29/18/08/swallow-3439543_1280.jpg">
              </div>
              <p class="self-intro">所属:経営工学系
                学年:学士2年
                ひとこと:怠惰で時間を貪り喰うのを生業にしています。</p>
          </div>
          <div class="member">
            <div class="member-icon">
                <h2 class="heading">川原京子</h2>
                <img class="faceimage" src="/images/川原.jpg">
              </div>
              <p class="self-intro">所属:環境・社会理工学院
                学年:学士1年
                「京子」と書いて「みやこ」と読む
                日々懸命に生きてる限界オタク</p>
          </div>
        </div>
        <div class = "clear"></div>
      </div>
    <div class="second-wrapper">
      <div class="container">
        <div class="members">
          <div class="member">
            <div class="member-icon">
              <h2 class="heading">濱谷一馬</h2>
              <img class="faceimage" src="/images/hamatani.jpg">
            </div>
            <p class="self-intro">所属：情報工学系
              学年:学士3年
              ひとこと：絵を描けるようになりたい。</p>
          </div>
          <div class="member">
            <div class="member-icon">
                <h2 class="heading">青木優</h2>
                <img class="faceimage" src="/images/青木.jpg">
              </div>
              <p class="self-intro">所属：環境・社会理工学院融合理工学系
                学年:学士2年
                ひとこと：融合系の英語クラスに苦戦中。科学館巡りが趣味です。</p>
          </div>
          <div class="member">
            <div class="member-icon">
                <h2 class="heading">時任俊輔</h2>
                <img class="faceimage" src="/images/tokitoh_image.jpg">
              </div>
              <p class="self-intro">学院:理学院 趣味:トレイルレース
                ひとこと:こんにちは！一人暮らし頑張ってます。</p>
          </div>
          <div class="member">
            <div class="member-icon">
                <h2 class="heading">佐藤真嘉</h2>
                <img class="faceimage" src="/images/佐藤真嘉HP.jpg">
              </div>
              <p class="self-intro">所属:工学院
                学年:学士1年
                ひとこと:8年の時を経てようやくゆずのライブに行くことが出来ました</p>
          </div>
        </div>
        <div class = "clear"></div>
      </div>
    </div>
    <div class="first-wrapper">
        <div class="container">
          <div class="members">
            <div class="member">
              <div class="member-icon">
                <h2 class="heading">飯沼海</h2>
                <img class="faceimage" src="https://cdn.pixabay.com/photo/2018/05/29/18/08/swallow-3439543_1280.jpg">
              </div>
              <p class="self-intro">所属:建築系
                学年:学士4年
                
              </p>
            </div>
            <div class="member">
              <div class="member-icon">
                  <h2 class="heading">辺見桃音</h2>
                  <img class="faceimage" src="https://cdn.pixabay.com/photo/2018/05/29/18/08/swallow-3439543_1280.jpg">
                </div>
                <p class="self-intro">所属:材料系
                  学年:学士4年
                </p>
            </div>
            <div class="member">
              <div class="member-icon">
                  <h2 class="heading">松野征昇</h2>
                  <img class="faceimage" src="https://cdn.pixabay.com/photo/2018/05/29/18/08/swallow-3439543_1280.jpg">
                </div>
                <p class="self-intro">所属:情報工学系
                  学年:学士3年
                </p>
            </div>
            <div class="member">
              <div class="member-icon">
                  <h2 class="heading">罍穂乃香</h2>
                  <img class="faceimage" src="https://cdn.pixabay.com/photo/2018/05/29/18/08/swallow-3439543_1280.jpg">
                </div>
                <p class="self-intro">所属:
                  学年:学士1年
                </p>
            </div>
          </div>
          <div class = "clear"></div>
        </div>
    </div>
    <div class="second-wrapper">
        <div class="container">
          <div class="heading">
            <h1>職員紹介</h1>
          </div>
          <div class="members">
            <div class="member">
              <div class="member-icon">
                <h2 class="heading">新井専務理事</h2>
                <img class="faceimage" src="https://cdn.pixabay.com/photo/2018/05/29/18/08/swallow-3439543_1280.jpg">
              </div>
              <p class="self-intro">To Be Updated</p>
            </div>
            <div class="member">
              <div class="member-icon">
                  <h2 class="heading">岡さん</h2>
                  <img class="faceimage" src="https://cdn.pixabay.com/photo/2018/05/29/18/08/swallow-3439543_1280.jpg">
                </div>
                <p class="self-intro">To Be Updated</p>
            </div>
            <div class="member">
              <div class="member-icon">
                  <h2 class="heading">To Be Updated</h2>
                  <img class="faceimage" src="https://cdn.pixabay.com/photo/2018/05/29/18/08/swallow-3439543_1280.jpg">
                </div>
                <p class="self-intro">To Be Updated</p>
            </div>
            <div class="member">
              <div class="member-icon">
                  <h2 class="heading">To Be Updated</h2>
                  <img class="faceimage" src="https://cdn.pixabay.com/photo/2018/05/29/18/08/swallow-3439543_1280.jpg">
                </div>
                <p class="self-intro">To Be Updated</p>
            </div>
          </div>
          <div class = "clear"></div>
        </div>
    </div>
    <div class="second-wrapper">
        <div class="container">
          <div class="members">
            <div class="member">
              <div class="member-icon">
                <h2 class="heading">To Be Updated</h2>
                <img class="faceimage" src="https://cdn.pixabay.com/photo/2018/05/29/18/08/swallow-3439543_1280.jpg">
              </div>
              <p class="self-intro">To Be Updated</p>
            </div>
            <div class="member">
              <div class="member-icon">
                  <h2 class="heading">To Be Updated</h2>
                  <img class="faceimage" src="https://cdn.pixabay.com/photo/2018/05/29/18/08/swallow-3439543_1280.jpg">
                </div>
                <p class="self-intro">To Be Updated</p>
            </div>
            <div class="member">
              <div class="member-icon">
                  <h2 class="heading">To Be Updated</h2>
                  <img class="faceimage" src="https://cdn.pixabay.com/photo/2018/05/29/18/08/swallow-3439543_1280.jpg">
                </div>
                <p class="self-intro">To Be Updated</p>
            </div>
            <div class="member">
              <div class="member-icon">
                  <h2 class="heading">To Be Updated</h2>
                  <img class="faceimage" src="https://cdn.pixabay.com/photo/2018/05/29/18/08/swallow-3439543_1280.jpg">
                </div>
                <p class="self-intro">To Be Updated</p>
            </div>
          </div>
          <div class = "clear"></div>
        </div>
    </div>
    <%- include('footer'); %>
    <script src="script.js"></script>
  </body>
</html>