<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>東工大生協サポートセンター</title>
    <script src="https://kit.fontawesome.com/b2808959cc.js" crossorigin="anonymous"></script>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>  
    <link rel="stylesheet" href="/css/stylesheet_members.css">
    <link rel="stylesheet" href="/css/responsive.css">
  </head>
  <body>
    <%- include('header'); %>
    <div class="first-wrapper">
      <div class="container">
        <div class="heading">
          <h1>メンバー紹介</h1>
        </div>
        <div class="members">
          <div class="member">
            <div class="member-icon">
              <h2 class="heading">濱谷一馬</h2>
              <img class="faceimage" src="https://images.unsplash.com/photo-1617128734662-66da6c1d3505?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1168&q=80">
            </div>
            <p class="self-intro">現在学士過程情報理工学院3年。サポセン入って半年。</p>
          </div>
          <div class="member">
            <div class="member-icon">
                <h2 class="heading">To Be Updated</h2>
                <img class="faceimage" src="https://cdn.pixabay.com/photo/2018/05/29/18/08/swallow-3439543_1280.jpg">
              </div>
              <p class="self-intro">To Be Updated</p>
          </div>
          <div class="member">
            <div class="member-icon">
                <h2 class="heading">To Be Updated</h2>
                <img class="faceimage" src="https://cdn.pixabay.com/photo/2018/05/29/18/08/swallow-3439543_1280.jpg">
              </div>
              <p class="self-intro">To Be Updated</p>
          </div>
          <div class="member">
            <div class="member-icon">
                <h2 class="heading">To Be Updated</h2>
                <img class="faceimage" src="https://cdn.pixabay.com/photo/2018/05/29/18/08/swallow-3439543_1280.jpg">
              </div>
              <p class="self-intro">To Be Updated</p>
          </div>
        </div>
        <div class = "clear"></div>
      </div>
    </div>
    <div class="first-wrapper">
        <div class="container">
          <div class="members">
            <div class="member">
              <div class="member-icon">
                <h2 class="heading">To Be Updated</h2>
                <img class="faceimage" src="https://cdn.pixabay.com/photo/2018/05/29/18/08/swallow-3439543_1280.jpg">
              </div>
              <p class="self-intro">To Be Updated</p>
            </div>
            <div class="member">
              <div class="member-icon">
                  <h2 class="heading">To Be Updated</h2>
                  <img class="faceimage" src="https://cdn.pixabay.com/photo/2018/05/29/18/08/swallow-3439543_1280.jpg">
                </div>
                <p class="self-intro">To Be Updated</p>
            </div>
            <div class="member">
              <div class="member-icon">
                  <h2 class="heading">To Be Updated</h2>
                  <img class="faceimage" src="https://cdn.pixabay.com/photo/2018/05/29/18/08/swallow-3439543_1280.jpg">
                </div>
                <p class="self-intro">To Be Updated</p>
            </div>
            <div class="member">
              <div class="member-icon">
                  <h2 class="heading">To Be Updated</h2>
                  <img class="faceimage" src="https://cdn.pixabay.com/photo/2018/05/29/18/08/swallow-3439543_1280.jpg">
                </div>
                <p class="self-intro">To Be Updated</p>
            </div>
          </div>
          <div class = "clear"></div>
        </div>
    </div>
    <div class="second-wrapper">
        <div class="container">
          <div class="heading">
            <h1>職員紹介</h1>
          </div>
          <div class="members">
            <div class="member">
              <div class="member-icon">
                <h2 class="heading">To Be Updated</h2>
                <img class="faceimage" src="https://cdn.pixabay.com/photo/2018/05/29/18/08/swallow-3439543_1280.jpg">
              </div>
              <p class="self-intro">To Be Updated</p>
            </div>
            <div class="member">
              <div class="member-icon">
                  <h2 class="heading">To Be Updated</h2>
                  <img class="faceimage" src="https://cdn.pixabay.com/photo/2018/05/29/18/08/swallow-3439543_1280.jpg">
                </div>
                <p class="self-intro">To Be Updated</p>
            </div>
            <div class="member">
              <div class="member-icon">
                  <h2 class="heading">To Be Updated</h2>
                  <img class="faceimage" src="https://cdn.pixabay.com/photo/2018/05/29/18/08/swallow-3439543_1280.jpg">
                </div>
                <p class="self-intro">To Be Updated</p>
            </div>
            <div class="member">
              <div class="member-icon">
                  <h2 class="heading">To Be Updated</h2>
                  <img class="faceimage" src="https://cdn.pixabay.com/photo/2018/05/29/18/08/swallow-3439543_1280.jpg">
                </div>
                <p class="self-intro">To Be Updated</p>
            </div>
          </div>
          <div class = "clear"></div>
        </div>
    </div>
    <div class="second-wrapper">
        <div class="container">
          <div class="members">
            <div class="member">
              <div class="member-icon">
                <h2 class="heading">To Be Updated</h2>
                <img class="faceimage" src="https://cdn.pixabay.com/photo/2018/05/29/18/08/swallow-3439543_1280.jpg">
              </div>
              <p class="self-intro">To Be Updated</p>
            </div>
            <div class="member">
              <div class="member-icon">
                  <h2 class="heading">To Be Updated</h2>
                  <img class="faceimage" src="https://cdn.pixabay.com/photo/2018/05/29/18/08/swallow-3439543_1280.jpg">
                </div>
                <p class="self-intro">To Be Updated</p>
            </div>
            <div class="member">
              <div class="member-icon">
                  <h2 class="heading">To Be Updated</h2>
                  <img class="faceimage" src="https://cdn.pixabay.com/photo/2018/05/29/18/08/swallow-3439543_1280.jpg">
                </div>
                <p class="self-intro">To Be Updated</p>
            </div>
            <div class="member">
              <div class="member-icon">
                  <h2 class="heading">To Be Updated</h2>
                  <img class="faceimage" src="https://cdn.pixabay.com/photo/2018/05/29/18/08/swallow-3439543_1280.jpg">
                </div>
                <p class="self-intro">To Be Updated</p>
            </div>
          </div>
          <div class = "clear"></div>
        </div>
    </div>
    <%- include('footer'); %>
    <script src="script.js"></script>
  </body>
</html>